[submodule "third_party/Deviare2"]
	path = third_party/Deviare2
	url = https://github.com/nektra/Deviare2.git
[submodule "third_party/SR-lib"]
	path = third_party/SR-lib
	url = https://github.com/bo3b/SR-lib.git
[submodule "third_party/nvapi"]
	path = third_party/nvapi
	url = https://github.com/NVIDIA/nvapi.git
